* {
  padding: 0;
  margin: 0;
}

html,
body {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  background-color: #030303;
  color: #fff;
  text-align: center;
}

a {
  color: #c48533;
  text-decoration: underline;
  text-decoration-thickness: 1px;
}

a:hover {
  color: #c9843e;
  text-decoration: none;
}

/* Banner */

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50rem;
  background: url("") center center no-repeat;
  background-size: cover;
  color: #fff;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
}

.banner h1 {
  padding-top: 100px;
  font-size: 62px;
  font-weight: 400;
  letter-spacing: 0.2em;
}

.banner h1 .magnus {
  font-family: "Libre Baskerville", serif;
  color: #008e42;
  font-size: 98px;
  letter-spacing: 0.2em;
}

.banner h2 {
  margin-top: 30px;
  padding: 5px 0;
  border-top: 3px solid #fff;
  border-bottom: 3px solid #fff;
  font-size: 14px;
  letter-spacing: 2px;
}
